<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectString" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDbFileName =D:\Crazywolf\Devops\Devops.mdf" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="HP.TS.Devops.Service.SecurityService" behaviorConfiguration="DevopsSupportCenterServiceBehavior">
        <endpoint address="basicHttpBinding" contract="HP.TS.Devops.Service.ISecurityService" binding="basicHttpBinding" />
        <endpoint address="webHttpBinding" behaviorConfiguration="DevopsSupportCenterEndPointBehavior" contract="HP.TS.Devops.Service.ISecurityService" binding="webHttpBinding" bindingConfiguration="webBinding" />
      </service>
      <service name="HP.TS.Devops.Service.CompanyService" behaviorConfiguration="DevopsSupportCenterServiceBehavior">
        <endpoint address="basicHttpBinding" contract="HP.TS.Devops.Service.ICompanyService" binding="basicHttpBinding" />
        <endpoint address="webHttpBinding" behaviorConfiguration="DevopsSupportCenterEndPointBehavior" contract="HP.TS.Devops.Service.ICompanyService" binding="webHttpBinding" bindingConfiguration="webBinding" />
      </service>
      <service name="HP.TS.Devops.Service.ContactService" behaviorConfiguration="DevopsSupportCenterServiceBehavior">
        <endpoint address="basicHttpBinding" contract="HP.TS.Devops.Service.IContactService" binding="basicHttpBinding" />
        <endpoint address="webHttpBinding" behaviorConfiguration="DevopsSupportCenterEndPointBehavior" contract="HP.TS.Devops.Service.IContactService" binding="webHttpBinding" bindingConfiguration="webBinding" />
      </service>
      <service name="HP.TS.Devops.Service.CentralConnectService" behaviorConfiguration="DevopsSupportCenterServiceBehavior">
        <endpoint address="basicHttpBinding" contract="HP.TS.Devops.Service.ICentralConnectService" binding="basicHttpBinding" />
        <endpoint address="webHttpBinding" behaviorConfiguration="DevopsSupportCenterEndPointBehavior" contract="HP.TS.Devops.Service.ICentralConnectService" binding="webHttpBinding" bindingConfiguration="webBinding" />
      </service>
      <service name="HP.TS.Devops.Service.DirectConnectService" behaviorConfiguration="DevopsSupportCenterServiceBehavior">
        <endpoint address="basicHttpBinding" contract="HP.TS.Devops.Service.IDirectConnectService" binding="basicHttpBinding" />
        <endpoint address="webHttpBinding" behaviorConfiguration="DevopsSupportCenterEndPointBehavior" contract="HP.TS.Devops.Service.IDirectConnectService" binding="webHttpBinding" bindingConfiguration="webBinding" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DevopsSupportCenterEndPointBehavior">
          <webHttp />
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DevopsSupportCenterServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
